[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-rest-framework = "*"
django-cors-headers = "*"
graphene-jwt-auth-registration = "*"

[requires]
python_version = "3.6"
